In [1]:
import pandas as pd

pmix = pd.read_csv('Product Mix 10.1 to 11.30.25.csv')
pmix

,Type,Menu,Menu group,Subgroup,"Item, open item",Size modifier,"Modifiers, special requests",Sales Category,Qty sold
0,menuItem,DINNER,Botonas,NaN,Fresh Tortilla Chips,NaN,NaN,Food,364.0
1,menuItem,DINNER,Botonas,NaN,Chips w/ Guacamole,NaN,NaN,Food,2112.0
2,menuItem,DINNER,Botonas,NaN,Pico De Gallo,NaN,NaN,Food,15.0
3,menuItem,DINNER,Botonas,NaN,Jicama & Cucumber,NaN,NaN,Food,288.0
4,menuItem,DINNER,Botonas,NaN,Escabeche De Verduras,NaN,NaN,Food,99.0
...,...,...,...,...,...,...,...,...,...
873,openItem,Open items,Open Liquor,NaN,Sangrita Amarilla (16 ounces),NaN,NaN,Liquor,1.0
874,openItem,Open items,Open Liquor,NaN,Sangrita Roja (16 ounces),NaN,NaN,Liquor,1.0
875,openItem,Open items,Open Liquor,NaN,Sangrita Verde (16 ounces),NaN,NaN,Liquor,1.0
876,openItem,Open items,Open Liquor,NaN,Uruapan,NaN,NaN,Liquor,1.0
877,openItem,Open items,Open Liquor,NaN,Volcan Mi Tierra 2 Oz,NaN,NaN,Liquor,2.0

In [2]:
dinner_pmix = pmix[pmix['Menu'] == 'DINNER']
# Fix column name to match the CSV ("Qty sold" instead of "Qty Sold")
clean_dinner_pmix = dinner_pmix[['Menu', 'Menu group', 'Item, open item', 'Sales Category', 'Qty sold']].copy()

#drop duplicates
clean_dinner_pmix = clean_dinner_pmix.drop_duplicates()

#rename columns
clean_dinner_pmix.rename(columns={'Item, open item': 'Item'}, inplace=True)

#drop last 3 rows
clean_dinner_pmix = clean_dinner_pmix.iloc[:-3]

days_open = 60
#daily average per product
clean_dinner_pmix['Daily Avg Qty Sold'] = clean_dinner_pmix['Qty sold'] / days_open

clean_dinner_pmix

,Menu,Menu group,Item,Sales Category,Qty sold,Daily Avg Qty Sold
0,DINNER,Botonas,Fresh Tortilla Chips,Food,364.0,6.066667
1,DINNER,Botonas,Chips w/ Guacamole,Food,2112.0,35.200000
2,DINNER,Botonas,Pico De Gallo,Food,15.0,0.250000
3,DINNER,Botonas,Jicama & Cucumber,Food,288.0,4.800000
4,DINNER,Botonas,Escabeche De Verduras,Food,99.0,1.650000
...,...,...,...,...,...,...
105,DINNER,Dessert,Flan,Food,304.0,5.066667
106,DINNER,Dessert,Oaxacan Chocolate Budin,Food,338.0,5.633333
107,DINNER,Dessert,Churro Bites,Food,83.0,1.383333
108,DINNER,Dessert,Pan De Muerto,Food,26.0,0.433333
109,DINNER,Dessert,Empanadas de Manzana,Food,13.0,0.216667

In [15]:
clean_dinner_pmix.dropna(inplace=True)
clean_dinner_pmix.sort_values(by='Daily Avg Qty Sold', ascending=False, inplace=True)

clean_dinner_pmix[clean_dinner_pmix["Item"] == "Hamachi Crudo"]

,Menu,Menu group,Item,Sales Category,Qty sold,Daily Avg Qty Sold
23,DINNER,Antojitos,Hamachi Crudo,Food,234.0,3.9